/*#region global*/
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    width: 790px;
    background-color: #483d8b;
    margin: auto;
}
.VisuallyHidden {
    position: absolute;
    margin: -1px;
    width: 1px; height: 1px;
    clip: rect(0 0 0 0);
  }
.TaskName {
    color: white;
    font-size: 32px;
    text-align: center;
}
/*#endregion global*/

/*#region T1-1*/
.T1-1_TaskContainer {
    background-color: #f5f5f5;
    margin: 0 30px; padding: 8px;
    font-size: 28px;
}
.T1-1_PieceTitle {
    color: #483d8b;
    text-align: center;
    font-size: 1em;
}
.T1-1_PartTitle,
.T1-1_SceneTitle,
.T1-1_СharacterName {
    color: #738496;
    font-weight: bold;
}
.T1-1_PartTitle,
.T1-1_SceneTitle {
    font-size: 0.55em;
}
.T1-1_СharacterName {
    font-size: 0.46em;
}
.T1-1_Text {
    font-size: 0.47em;
    line-height:1.4em;
}
.T1-1_SceneDescription {
    font-size: 0.4em;
    font-style: italic;
}
/*#endregion T1-1*/

/*#region T1-2*/
.T1-2_TaskContainer {
    background-color: #f5f5f5;
    margin: 0 30px; padding: 32px;
    font-size: 32px;
}
.T1-2_PlayerName {
    font-size: 0.7em;
}
.T1-2_List {
    list-style: none;
    padding: 0;
}
.T1-2_Card {
    background-color: #e0e0e0;
    margin: 0 4px;
    width: 89px; height: 64px;
    display: inline-flex;
    justify-content: center; align-items: center;
    font-size: 1.4em;
}
.T1-2_CardColorRed {
    color: #950000;
}
.T1-2_CardColorBlack {
    color: black;
}
/*#endregion T1-2*/

/*#region T1-3*/
.T1-3_TaskContainer {
    background-color: #f5f5f5;
    margin: 0 30px; padding: 32px;
    width: 670px;
    font-size: 32px;
}
.T1-3_Title, .T1-3_SectionTitle {
    text-align: center;
}
.T1-3_Title {
    font-size: 0.85em;
}
.T1-3_SectionTitle {
    font-size: 0.66em;
}
.T1-3_Text {
    font-size: 0.45em;
}
.T1-3_Abbr {
    text-decoration: underline;
    text-decoration-style: dotted;
}
.T1-3_Code, .T1-3_CodeFormatting {
    background-color: #e7e7e7;
    color: #972e33;
}
.T1-3_CodeFormatting {
    padding: 16px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.4em;
}
.T1-3_CodeText {
    color: black;
}
.T1-3_SectionTags {
    font-size: 0.34em;
}
.T1-3_Tag {
    background-color: #dcdcdc;
    color: #329da9;
}
/*#endregion T1-3*/