/*#region global*/
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.VisuallyHidden {
    position: absolute;
    margin: -1px;
    width: 1px; height: 1px;
    clip: rect(0 0 0 0);
  }
.TaskName {
    font-size: 32px;
    text-align: center;
}
/*#endregion global*/
/*#region T1-1*/
.T1-1_TaskContainer {
    background-color: #f5f5f5;
    margin: 0 30px; padding: 8px;
    font-size: 28px;
}
.T1-1_PieceTitle {
    color: #483d8b;
    text-align: center;
    font-size: 1em;
}
.T1-1_PartTitle,
.T1-1_SceneTitle,
.T1-1_СharacterName {
    color: #738496;
    font-weight: bold;
}
.T1-1_PartTitle,
.T1-1_SceneTitle {
    font-size: 0.55em;
}
.T1-1_СharacterName {
    font-size: 0.46em;
}
.T1-1_Text {
    font-size: 0.47em;
    line-height:1.4em;
}
.T1-1_SceneDescription {
    font-size: 0.4em;
    font-style: italic;
}
/*#endregion T1-1*/
/*#region T1-2*/
.T1-2_TaskContainer {
    background-color: #f5f5f5;
    margin: 0 30px; padding: 32px;
    font-size: 32px;
}
.T1-2_PlayerName {
    font-size: 0.7em;
}
.T1-2_List {
    list-style: none;
    padding: 0;
}
.T1-2_Card {
    background-color: #e0e0e0;
    margin: 0 4px;
    width: 89px; height: 64px;
    display: inline-flex;
    justify-content: center; align-items: center;
    font-size: 1.4em;
}
.T1-2_CardColorRed {
    color: #950000;
}
.T1-2_CardColorBlack {
    color: black;
}
/*#endregion T1-2*/