/*#region global*/
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    width: 790px;
    background-color: #483d8b;
    margin: auto;
}
.VisuallyHidden {
    position: absolute;
    margin: -1px;
    width: 1px; height: 1px;
    clip: rect(0 0 0 0);
  }
.TaskName {
    color: white;
    font-size: 32px;
    text-align: center;
}
/*#endregion global*/

/*#region T2-1*/
.T2-1_TaskContainer {
    background-color: #f5f5f5;
    color: white;
    margin: 0 30px; padding: 8px;
    font-size: 28px;
}
.T2-1_List {
    counter-reset: myCounter;
    background-color: #ed9eae;
    margin: 12px; padding: 24px;
}
.T2-1_Item {
    list-style: none;
    background-color: #c66376;
}
.T2-1_Item:not(:last-child) {
    margin-bottom: 12px;
}  
.T2-1_Item:before {
    display: inline-block;
    counter-increment: myCounter;
    content:counter(myCounter) '.';
    margin: 5px 8px;
    width: 40px; height: 40px;
    text-align: center;
    line-height: 40px;
  }
  .T2-1_Item span {
    background-color: #9e354a;
    padding: 6px 24px;
  }
/*#endregion T2-1*/

/*#region T2-2*/
.T2-2_TaskContainer {
    background-color: #f5f5f5;
    padding: 8px 24px;
    font-size: 18px;
}
.T2-2_Title {
    margin: 0;
}
.T2-2_List {
    list-style: none;
    padding: 0;
}
.T2-2_Item {
    height: 38px;
}
.T2-2_Checker {
    display: none;
}
.T2-2_CheckboxLabel {
    position: relative;
}
.T2-2_CheckboxLabel:before {
    display: inline-block;
    content: '';
    width: 100%; height: 38px;
    
    background-image: url("../icons/unchecked_16.png");
    background-repeat: no-repeat;
    background-position-x: 38px;
    background-position-y: center;
}
.T2-2_Item:nth-child(even)
> .T2-2_CheckboxLabel:before {
    background-color: #add8e6;
}
.T2-2_Item:nth-child(odd)
> .T2-2_CheckboxLabel:before {
    background-color: #a5ccda;
}
.T2-2_CheckboxLabel
> .T2-2_CheckboxLabelText {
    position: absolute;
    left:70px;
    top:-12px;
}
.T2-2_CheckboxLabelCloseButton {
    position: absolute; content: "";
    width: 8px; height: 8px;
    background-image: url("../icons/close.svg");
    background-repeat: no-repeat;
    background-size: cover;
    right: -24px;  top: 8px;
}
.T2-2_Checker:checked
+ .T2-2_CheckboxLabel:before {
    background-image: url("../icons/checked_16.png");
    background-color: #e2e2e2;
}
.T2-2_Checker:checked
+ .T2-2_CheckboxLabel
> .T2-2_CheckboxLabelText {
    text-decoration:line-through;
}
/*#endregion T2-2*/